body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.titulo {
  text-align: center;
  color: rgb(73, 71, 158);
  font-size: 2em;
  margin-bottom: 1em;
}

.conteudo {
  background-color: rgb(216, 45, 159);
  margin: 1.5em 0;
  box-shadow: 3px 3px 3px rgba(35, 38, 237, 0.3);
  text-align: center;
  border-radius: 8px;
  padding: 1em;
}

.conteudolocalizacao {
  font-size: 1.5em;
  margin-top: 1em;
}

.rodape {
  text-align: center;
  border-radius: 5%;
  margin-top: 2em;
  color: #ff1900;
}

.cabecalhoConteudo {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #333;
}

.botaof {
  background-color: rgba(69, 71, 163, 0.83);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.botaof:hover {
  background-color: rgba(69, 71, 163, 1);
}